// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
	/*
		==================
		  O QUE FAZEMOS
		==================
	*/	
		#que-fazemos .bgDesign{
			display: none;
		}
	/*
		==================
		 //O QUE FAZEMOS
		==================
	*/

	/*
		==================
		   FALE CONOSCO
		==================
	*/
		#faleconosco{
			
		}
	/*
		==================
		  //FALE CONOSCO
		==================
	*/
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {

}