html,body{
    width: 100%;
    height:100%;
}
html,body,h1,h2,h3,h4{
    font-family: 'Open Sans', sans-serif;
}
.col-reset-padding{
    padding-right: 0px;
    padding-left: 0px;
}

/* SPRITES */
.bg-lupa {
    width: 20px; height: 20px;
    background: url('images/css_sprites.png') -108px -52px;
}
.bg-seta1 {
    width: 24px; height: 22px;
    background: url('images/css_sprites.png') -53px -65px;
    float: left;
    margin: 0 10px;
}
.bg-seta2 {
    animation-duration: 3s;
    width: 35px; height: 35px;
    background: url('images/css_sprites.png') -10px -10px;
}
.bg-seta3 {
    width: 24px; height: 22px;
    background: url('images/css_sprites.png') -108px -10px;
    float: left;
    margin: 3px 10px;
}
.bg-seta5 {
    width: 23px; height: 23px;
    background: url('images/css_sprites.png') -65px -10px;
}
.bg-seta8 {
    width: 10px; height: 11px;
    background: url('images/css_sprites.png') -41px -108px;
    float: right;
    margin:4px;
}
.bg-seta7 {
    width: 11px; height: 11px;
    background: url('images/css_sprites.png') -10px -108px;
    float: left;
    margin:4px;
}
.bg-seta6 {
    width: 23px; height: 23px;
    background: url('images/css_sprites.png') -10px -65px;
}
.bgDesenvolvimento { 
    opacity: 0.03;
    color: #000000;
    font-family: "Gotham Bold";
    font-size: 110px;
    font-weight: 700;
    letter-spacing: -0.34px;
    text-transform: uppercase;
    position: absolute;
    bottom: -70px;
    z-index: -1;
}
.bgDesign {     
    opacity: 0.03;
    color: #000000;
    font-family: "Gotham Bold";
    font-size: 110px;
    font-weight: 700;
    letter-spacing: -0.34px;
    text-transform: uppercase;
    position: absolute;
    top: 70px;
    z-index: -1;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);
    right: -130px;
    overflow: hidden;
}
.bgPrazo{
    opacity: 0.03;
    color: #000000;
    font-family: "Gotham Bold";
    font-size: 220px;
    font-weight: 700;
    letter-spacing: -0.34px;
    text-transform: uppercase;
    position: absolute;
    bottom: -100px;
    z-index: -1;
    overflow: hidden;
}
.bgCompromisso{
    opacity: 0.03;
    color: #000000;
    font-family: "Gotham Bold";
    font-size: 110px;
    font-weight: 700;
    letter-spacing: -0.34px;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    z-index: -1;
    right: 50px;
    overflow: hidden;
}
.bgQualidade{
    opacity: 0.03;
    color: #000000;
    font-family: "Gotham Bold";
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -0.34px;
    text-transform: uppercase;
    position: absolute;
    top: 290px;
    z-index: -1;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);
    right: -70px;
    overflow: hidden;
}

/* ANIMAÇÕES */
.nomeProjeto{
    transition-duration: 0.5s;
}
.quadrado {
    stroke-width: 3px;
    stroke-dasharray: 1680; 
    animation: 0.7s write; 
    display: none;
    position: absolute;
}

@keyframes write {
    0% {
        stroke-dashoffset: 1680; // tamanho inicial 
    }
    100% {
        stroke-dashoffset: 0; // tamanho final
    }
}


.seta {
    stroke-width: 3px;
    stroke-dasharray: 35; 
    animation: 3.7s seta; 
    display: none;
    position: absolute;
}

@keyframes seta {
    0% {
        stroke-dashoffset: 35; // tamanho inicial 
    }
    100% {
        stroke-dashoffset: 0; // tamanho final
    }
}










header {
    background-image: url('images/background-header.png');
    color: #FFFFFF;
    display: table;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#logoTopo{
    background-image: url("images/logo-w18-top.png");
    width: 180px;
    height: 40px;
    background-repeat: no-repeat;
    float: left;
    margin: 30px;
}
.menuTopo{
    margin-top: 30px;
}
.menuTopoFixo{

}
#navbar{
    margin-top: 30px;
}
.lupa{ margin: 16px; }


#textoBanner{
    width: 80%;
    padding: 12% 10%;
}
#textoBanner h1{
    font-weight: 700;
    line-height: 54px;
    font-size: 44px;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-nav>li {
    position: relative;
}
.navbar-nav>li>a {
    color: #FFF;
}
.navbar-nav>li>a:hover {
    font-weight: 700;
    color: #FFF;
    background-color: transparent;
}
.navbar-right {
    float: right!important;
    margin-right: 0;
}

#fundoTextoBanner{
    width: 535px;
    height: 272px;
    border: 7px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    margin: -28px -45px;
}
.vamosFechar{ 
    margin-top: 80px; 
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
.vamosFechar a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}
.vamosFechar i{
    color: #e84910; 
    margin-right: 10px;
}
.scrollDown{
    display: inline-block;
    margin-left: 50%;
    position: absolute;
    bottom: 25px;
}

/* ANIMAÇÕES */
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
} 


.traco{
    width: 600px;
    height: 7px;
    background-color: #f8f8f8;
}
h3{
    color: #e84910;
    font-family: "Open Sans";
    font-size: 44px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px;
}


/* SECTION O QUE FAZEMOS */
#que-fazemos{
    margin: 70px 0;
    position: relative;
}
#que-fazemos h3{
    margin: 70px 0;
}

#que-fazemos a.linkQueFazemos{
    color: #e84910;
    font-family: "Open Sans";
    font-size: 20px;
    text-decoration: none;
    margin: 70px 0;
    display: inline-block;
}
#que-fazemos a.linkQueFazemos:hover{
    cursor: pointer;
}
#que-fazemos .linkQueFazemos i{
    color: #6f10e8;
    margin-right: 10px;
}
#que-fazemos .textQueFazemos{
    color: #666666;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 24px;
}
.imagemDestaque{
    background-image: url("images/trabalho.png"),linear-gradient(180deg, #ebebeb 0%, #f8f8f8 49%, #dedede 100%); 
    background-repeat: no-repeat;
    background-position: center;
    height: 665px;
    
}
#que-fazemos .traco{
    position: absolute;
    left: -640px;
    top: 120px;
}

/* SECTION NOSSO TRABALHO */
#nossos-projetos {}
#nossos-projetos .traco{
    position: absolute;
    left: -640px;
    top: 50px;
}
#nossos-projetos .projeto {
    background-repeat: no-repeat;
    padding: 30px;
}
#nossos-projetos .projeto .info{
    border: 3px solid #FFF;
    height: 100%;
}
#nossos-projetos .projeto .linkProjeto a{
    text-decoration: none;
    color: #FFF;
    font-size: 16px;
}
#nossos-projetos .projeto .linkProjeto a i{
    margin: 0 7px 0 0;
}
#nossos-projetos .projeto .linkProjeto a:hover{
    cursor: pointer;
}
#nossos-projetos .projeto .linkProjeto{
    text-align: center;
    left: 50%;
    position: absolute;
    bottom: 45px;
    margin-left: -41px;
}
#nossos-projetos .projeto .nomeProjeto{
    text-align: center;
    line-height: 415px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.btProjetos{
    margin-top: 37px;
}

.btnVoltar,
.btnAvancar { float:left; margin: 10px; }



/* SECTION FEEDBACKS */
#feedbacks{
    margin: 70px 0;
    position: relative;
}
#feedbacks .textFeedbacks{
    color: #666666;
    font-size: 16px;
    line-height: 24px;
}
#feedbacks .traco{
    position: absolute;
    left: -640px;
    top: 85px;
}
#feedbacks .clienteFeedback{
    width: 334px;
    height: 100%;
    color: #141414;
    font-family: "Open Sans";
    font-size: 24px;
    padding: 50px 10px;
    text-align: center;
}
#feedbacks .clienteFeedback .autor{
    color: #535353;
    font-family: "Open Sans";
    font-size: 14px;
    font-style: italic;
}
/*#feedbacks .listFeedbacks ul{
    list-style: none;
    padding: 0;
}
#feedbacks .listFeedbacks ul li{
    float: left;
}
#feedbacks .listFeedbacks ul li img{
    margin: 0 10px;
}
#feedbacks .listFeedbacks ul li .selected{
    box-shadow: 5px -9px 3px #000;
}
#feedbacks .listFeedbacks ul li.selected img{
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
    background-color: #d8d8d8;
}*/

.item img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.3;
    transition-duration: 0.7s;
}
.destaque .item {
height: 270px;
margin-right: 20px;
}
.destaque .item img{
   width: 260px !important;
   -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
   box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
   opacity: 1;
    /*box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);*/
}
.owl-theme .owl-nav {
    margin-top: -20px;
    float: right;
}
.owl-theme .owl-nav [class*=owl-],
.owl-theme .owl-nav [class*=owl-]:hover{
    background: transparent; 
}

/* SECTION FALE CONOSCO */
#faleconosco{
    background-color: #f2f5fa;
}
#faleconosco h3{
    margin: 50px 0 40px 0;
}
#faleconosco .img-faleconosco{
    background-image: url("temp/image-faleconoso.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 759px;
    width: 100%;
}
#faleconosco input,
#faleconosco textarea{
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #666;
    background:none; 
    background-color: transparent;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.0) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.0) !important;

    color: #535353;
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: -0.06px;
}
#faleconosco textarea{
    height: 120px;
}
#faleconosco .campoColuna:nth-child(odd){
    padding-left: 10px; 
}
#faleconosco .campoColuna:nth-child(even) {
    padding-right: 10px; 
}
#faleconosco .btnEnviar{
    background-color: transparent;
    border: none;
    width: 58px;
    height: 27px;
    color: #e84910;
    font-family: "Open Sans";
    font-size: 20px;
    letter-spacing: -0.06px;
}
#faleconosco .btnEnviar:hover{

}
#faleconosco .linkOrcamento{ margin-top: 25px; }
#faleconosco .textOrcamento{
    color: #666666;
    font-family: "Open Sans";
    font-size: 24px;
    font-weight: 400;
    margin-top: 50px;
}
#faleconosco .linkOrcamento a{
    text-decoration: none;
    color: #e84910;
    font-family: "Open Sans";
    font-size: 20px;
    letter-spacing: -0.06px;
}

#faleconosco .linkOrcamento a:hover{
    cursor: pointer;
}
#faleconosco .linkOrcamento i {
    color: #6f10e8;
    margin-right: 10px;
}
#faleconosco .traco{
    position: absolute;
    left: -640px;
    top: 100px;
    background-color: #FFF;
}


/* FOOTER */
footer{
    background-color: #191919;
    border-bottom: 3px solid #FFF;
}
footer .divRodape{
    text-align: center;
}
footer .divRodape .logoFooter{
    margin: 50px 0 20px 0;
}
footer .divRodape .textoRodape{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    letter-spacing: -0.06px;
    margin-bottom: 30px;
}
footer .footer-direitos{
    border-top: 1px solid #FFF;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    letter-spacing: -0.05px;
    font-weight: 700;
    padding: 20px 0;
}